body {
  display: grid;
  justify-content: center;
  font-family: helvetica;
}
h1 {
  text-align: center;
  font-size: 3em;
  border-bottom: 5px black solid;
}
h4 {
  display: inline;
}
h3 {
  font-size: 1em;
}
#mapid {
  border: 5px black solid;
  border-radius: 20px;
  
  height: 40vw;
  width: 40vw;
}
a {
  text-decoration: none;
  font-size: 2em;
}
#main {
  background-color: brown;
  display: flex;
  justify-content: center;
}